.trip_details {
    display: flex;
    flex-direction: column;
    /*gap: 20px;*/
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header h1 {
    font-size: 32px;
    padding-top: 0px;
    margin-bottom: 20px;
    text-align: left;
}

.go_back {
    font-size: 16px;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-align: left;
    margin-bottom: 0px;
}

.go_back:hover {
    text-decoration: underline;
}

.layout {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.trip_left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trip_right {
    flex: 1;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.trip_info {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}

.trip_info p {
    font-size: 12px;
    margin: 5px 0;
    margin-bottom: 40px;
    text-align: left;
    color: gray;
}

h3 {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}

.trip_section {
    padding: 20px;
    background: lightgray;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/*.trip_section h3 {
    margin-bottom: 10px;
}*/

.flights, .hotels {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.itinerary {
    padding: 20px;
    margin-top: 20px;
    background: lightgray;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.itinerary_header {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 10px;
}

.itinerary_item {
    padding: 10px;
    background: #f5f5f5;
    border-radius: 6px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.add_button {
    background: none;
    color: #007bff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    /*margin-top: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);*/
}

.add_button:hover {
    background: #0056b3;
}

/*.itinerary h3 {
    font-size: 20px;
    margin-bottom: 10px;
}*/

#flightsButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    height: 3vh;
    align-content: center;
}

#flightsButtons button {
    background-color: #f7ae4f;
    border-radius: 32px;
    border:0;
    font-size:14px;
    padding: 10px;
    min-width: 200px;
    width: 1vw;
    -webkit-transition: 0.5s;
}
  
#flightsButtons button:hover{
  background-color: #ff8000;
}

#flightSearch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    gap: 10px;
    height: 3vh;
    
}

#flightSearch .textInput {
    flex: 1;
    max-width: 100%;
    border-radius: 12px;
    background-color: #FFFCF9;
    color: black;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    outline: none;
}

#flightSearch .textInput:focus {
    border: 2px solid #F18701;
}

#flightSearch .dateInput{
    color-scheme: white;
    flex: 1;
    max-width: 100%;
    border-radius: 12px;
    background-color: #FFFCF9;
    color: black;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    outline: none;
}
#flightSearch .dateInput:focus {
    border: 2px solid #F18701;
}

#flightSearch p{
    font-size: 14px;
    margin: 0;
    padding: 10px;
    color: black;
}

#flightSearch button{
    max-width: 100%;
    min-width: 100px;
    background-color: #f7ae4f;
    border-radius: 32px;
    border: 0;
    font-size: 14px;
    padding: 10px;
    -webkit-transition: 0.5s;
}

#flightSearch button:hover{
    background-color: #ff8000;
}

#savedFlightList{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.SavedFlight{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  
    padding: 10px;
    padding-top: 0px;
    border-radius: 16px;
    box-shadow: 5px 5px 10px gray;
    width: 90%;
    height: 100px;
    margin: 20px;

    background-color: white;
}

.SavedFlight button{
    background-color: #f7ae4f;
    border-radius: 32px;
    border: 0;
    font-size: 14px;
    padding: 10px;
    width: 200px;
    margin-left: 100px;
    -webkit-transition: 0.5s;
}

.SavedFlight button:hover{
    background-color: #ff8000;
}