#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#title{
  font-size:64px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#flightDetails{
  position: absolute; /* or `fixed` if you want it to remain in place while scrolling */
  top: 0;
  left: 0;
}

#hotelDetails{
  position: absolute; 
  top: 0; 
}

#loginForm, #login_side{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:8px;
  background-color: #FFFCF9;
  color: #28262C;
}

.button{
  background-color: #f7ae4f;
  border-radius: 32px;
  border:0;
  font-size:14px;
  padding: 10px;
  min-width: 200px;
  width: 100%;
  -webkit-transition: 0.5s;
}

.button:hover{
  background-color: #ff8000;
}

#loginButton{
  margin-top: 20px;
}

.carousel{
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
  max-width: 1680px;
}

.carouselSlider{
  display: flex;
  flex-direction: row;
  gap: 0;
  transition: transform 0.5s ease;
}

img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#LoginPage{
  display:flex;
  flex-direction: row;
}

#login_side{
  max-width:50%;
  width: 100vw;
}

#accountCreationForm, #AccountCreationPage{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFCF9;
  gap:8px;
}

#AccountCreationPage{
  margin:0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #FFFCF9;
  height:100%;
  width:100%;
}

.textField{
  width: 20vw;
  min-width: 300px;
  height: 20px;
  border-radius: 12px;
  background-color: #FFFCF9;
  color: black;
  padding:10px;
  font-size: 14px;  
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  outline: none;
}

.textField:focus{
  border: 2px solid #F18701;
}

#formbox{
  padding:36px;
  background-color: #FFFCF9;
  border-radius: 12px;
  max-width: 40vw;
}

#orText{
  font-size: 12px;
  margin: 4px;
}