#root {
  width: 100vw;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#title{
  font-size:64px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#flightDetails{
  position: absolute; /* or `fixed` if you want it to remain in place while scrolling */
  top: 0;
  left: 0;
}

#hotelDetails{
  position: absolute; 
  top: 0; 
}

#loginForm, #login_side{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:8px;
}
#loginName, #loginPassword{
  border-radius: 4px;
  border-color: lightslategray;
  border-width: 2px;
  padding:10px;
  font-size: 24px;
  
}

#loginButton{
  text-align: center;
  border-radius: 8px;
  border:0;
  font-size:20px;
  padding: 10px;
  min-width: 200px;
}

.carousel{
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
  max-width: 1680px;
}

img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#LoginPage{
  display:flex;
  flex-direction: row;
}
#login_side{
  max-width:50%;
  width: 100vw;
}